CVSDemo.json
[{"id":"7e9f94c.b38816c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36d081ad.48ef36","type":"tab","label":"CVS Demo","disabled":false,"info":""},{"id":"b996bd6.835594","type":"ui_group","z":"","name":"Dashboard","tab":"ec7590c8.7eed1","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec7590c8.7eed1","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ca3c7c8f.35a2f8","type":"function","z":"36d081ad.48ef36","name":"--------------------------------------------------------------Global Variable Storage------------------------------------------------------------","func":"\nflow.set(\"numberofpickup\",0);\nflow.set(\"timestampoflastpickup\", 0);\nflow.set(\"timestampoflastdropoff\", 0);\nflow.set(\"numberofpproximity\",0);\nflow.set(\"numberofdropoff\",0);\nflow.set(\"timestampoflastproximity\", 0);\nflow.set(\"timestampoflastproximityaway\", 0);\nflow.set(\"numberofproximitydropoff\",0);\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":180,"wires":[[]]},{"id":"840e77b2.4e1cb8","type":"comment","z":"36d081ad.48ef36","name":"Compare","info":"Need to add an object to compare if changed","x":530,"y":1940,"wires":[]},{"id":"7280191e.9d151","type":"function","z":"36d081ad.48ef36","name":"gate keeper","func":"\nvar proximitylaststate = flow.get(\"proximitylaststate\") ||0;\n\n\nvar currentstate = proximitylaststate;\n\nnode.status({fill:\"green\",shape:\"dot\",text:currentstate});\n\nif (currentstate === 0)\n\n{\n    \n   \n    return msg;\n    \n}\n\nelse\n{\nreturn null;\n}","outputs":1,"noerr":0,"x":700,"y":2120,"wires":[["6fa61ed5.30168","2154f790.899bc8"]]},{"id":"135a57ac.b7ed5","type":"function","z":"36d081ad.48ef36","name":"Proximity Last state global variable","func":"flow.set(\"proximitylaststate\",0);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2020,"wires":[[]]},{"id":"3336bb49.f6de34","type":"inject","z":"36d081ad.48ef36","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":2000,"wires":[["8603eb7d.17eb88"]]},{"id":"abf01a26.2744d8","type":"inject","z":"36d081ad.48ef36","name":"","topic":"","payload":"190","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":2060,"wires":[["8603eb7d.17eb88"]]},{"id":"de6974a0.ee5698","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":1900,"wires":[]},{"id":"2154f790.899bc8","type":"function","z":"36d081ad.48ef36","name":"set last state to 1 after an event","func":"flow.set(\"proximitylaststate\",1);\n\nvar proximitylaststate= proximitylaststate;\n\nnode.status({fill:\"green\",shape:\"dot\",text:proximitylaststate});\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2040,"wires":[["acd12eba.76ef2","481acc37.d2c1d4"]]},{"id":"6fa61ed5.30168","type":"http request","z":"36d081ad.48ef36","name":"Get Current Playlist","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerDetails/GetCurrentPlaylist","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":2120,"wires":[["ae3d9296.d8361","de6974a0.ee5698"]]},{"id":"8603eb7d.17eb88","type":"switch","z":"36d081ad.48ef36","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"160","vt":"num"},{"t":"gt","v":"180","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":2140,"wires":[["7280191e.9d151"],["7ca9f9ee.4210f8"]]},{"id":"7ca9f9ee.4210f8","type":"function","z":"36d081ad.48ef36","name":"gate keeper","func":"\nvar proximitylaststate = flow.get(\"proximitylaststate\")|| 0;\nvar currentstate = proximitylaststate;\n\nnode.status({fill:\"green\",shape:\"dot\",text:currentstate});\n\nif (currentstate === 1)\n\n{\n    \n   \n    return msg;\n    \n}\n\nelse\n{\nreturn null;\n}","outputs":1,"noerr":0,"x":700,"y":2180,"wires":[["34a6b76b.458c08","aea96caa.a72ab8"]]},{"id":"34a6b76b.458c08","type":"http request","z":"36d081ad.48ef36","name":"Get Current Playlist","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerDetails/GetCurrentPlaylist","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":2180,"wires":[["db25bc54.74e6a","2548dc75.1760d4"]]},{"id":"aea96caa.a72ab8","type":"function","z":"36d081ad.48ef36","name":"set last state to 0 after an event","func":"flow.set(\"proximitylaststate\",0);\nvar proximitylaststate = proximitylaststate;\nnode.status({fill:\"green\",shape:\"dot\",text:proximitylaststate});\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":2240,"wires":[["4688122a.c4096c"]]},{"id":"2548dc75.1760d4","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":2320,"wires":[]},{"id":"c1d80347.2958c8","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2110,"y":2260,"wires":[]},{"id":"d69139bf.1a34f","type":"function","z":"36d081ad.48ef36","name":"If curent playlist is demo","func":"\n\nvar currentplaylist = msg.payload\n\n\n\nif(currentplaylist == \"cvspickup\"){\n    \n    play = false;\n   \n     msg.payload=play;\n     return null;\n}\n\n   else{ \n\n     var play = 0;\n     msg.payload=play;\n     return msg;\n       \n    }\n","outputs":1,"noerr":0,"x":1840,"y":2120,"wires":[["88d8ecc5.d1b498","93489fb8.92f3d"]]},{"id":"ae3d9296.d8361","type":"function","z":"36d081ad.48ef36","name":"Get Current Playlist JSON Converter","func":"var data = msg.payload;\n\n\nconvert=JSON.parse(data)\n\nplaylist = convert.GetCurrentPlaylistResult.TriggerParam;\n\nmsg.payload = playlist;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1470,"y":2120,"wires":[["d69139bf.1a34f"]]},{"id":"f534154c.84b17","type":"function","z":"36d081ad.48ef36","name":"If curent playlist is walk or Pdropoff","func":"\n\nvar currentplaylist = msg.payload\n\n\n\nif(currentplaylist == \"cvsdefault\"){\n    \n    play = false;\n   \n     msg.payload=play;\n     return null;\n}\n\n   else{ \n\n     var play = 1;\n     msg.payload=play;\n     return msg;\n       \n    }\n\n\n","outputs":1,"noerr":0,"x":1870,"y":2180,"wires":[["c1d80347.2958c8","632c8946.b5823"]]},{"id":"db25bc54.74e6a","type":"function","z":"36d081ad.48ef36","name":"Get Current Playlist JSON Converter","func":"var data = msg.payload;\n\n\nconvert=JSON.parse(data)\n\nplaylist = convert.GetCurrentPlaylistResult.TriggerParam;\n\nmsg.payload = playlist;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1470,"y":2180,"wires":[["f534154c.84b17"]]},{"id":"88d8ecc5.d1b498","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2080,"y":2020,"wires":[]},{"id":"93489fb8.92f3d","type":"http request","z":"36d081ad.48ef36","name":"Play Content 2","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerControl/TriggerEvent?messageSubType=Start&eventCode=cvsproximity","tls":"","persist":false,"proxy":"","authType":"","x":2590,"y":2080,"wires":[[]]},{"id":"acd12eba.76ef2","type":"function","z":"36d081ad.48ef36","name":"Proximity Trigger counter","func":"var numberofproximity = flow.get(\"numberofproximity\") ||0;\n\nnumberofproximity++;\n\nnode.status({fill:\"green\", shape:\"dot\", text:numberofproximity})\n\nflow.set(\"numberofproximity\", numberofproximity);\n\nmsg.numberofproximity = numberofproximity;\n\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":1880,"wires":[["6c78515.86ecab","45e9b73e.50adc8"]]},{"id":"f6bc56d1.9bfec8","type":"trigger","z":"36d081ad.48ef36","op1":"{\"cvsproximity\":1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"IOT Proximity Trigger","x":3460,"y":2040,"wires":[["a8dcea34.4431c8"]]},{"id":"e99d84ad.da23f","type":"ui_chart","z":"36d081ad.48ef36","name":"","group":"b996bd6.835594","order":1,"width":0,"height":0,"label":"Proximity Trigger Counts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3010,"y":1620,"wires":[[]]},{"id":"98bbf959.3b03a8","type":"function","z":"36d081ad.48ef36","name":"Ubidot Json total proximity","func":"\n\n\nmsg.payload= {\"totalproximity\" : msg.payload}\nreturn msg;\n","outputs":1,"noerr":0,"x":3350,"y":1760,"wires":[["a8dcea34.4431c8"]]},{"id":"6c78515.86ecab","type":"function","z":"36d081ad.48ef36","name":"Number of proximity chart","func":"\nvar numberofproximity = flow.get(\"numberofproximity\") ||0;\n\n\nmsg.payload=numberofproximity;\nreturn msg;","outputs":1,"noerr":0,"x":2820,"y":1760,"wires":[["e99d84ad.da23f","98bbf959.3b03a8","73dcea7e.a1c004"]]},{"id":"a1489d05.5d843","type":"http request","z":"36d081ad.48ef36","name":"Show Content  Dropped off","method":"GET","ret":"txt","paytoqs":false,"url":"10.0.0.89:8080/REST/PlayerControl/TriggerEvent?messageSubType=Start&eventCode=Remarkdefault","tls":"","persist":false,"proxy":"","authType":"","x":3890,"y":2740,"wires":[[]]},{"id":"4688122a.c4096c","type":"function","z":"36d081ad.48ef36","name":"Proximity Away counter","func":"var numberofproximitydropoff = flow.get(\"numberofproximitydropoff\") ||0;\n\nnumberofproximitydropoff++;\n\nnode.status({fill:\"green\",shape:\"dot\",text:numberofproximitydropoff});\n\nflow.set(\"numberofproximitydropoff\", numberofproximitydropoff);\nmsg.payload=numberofproximitydropoff;\nreturn msg;","outputs":1,"noerr":0,"x":2540,"y":2400,"wires":[["1121382f.760618"]]},{"id":"1121382f.760618","type":"function","z":"36d081ad.48ef36","name":"Calculating Proximity Drop time","func":"\n\n\n//Retrieve the Timestamp at which the proximity activated\nvar timestampoflastproximity = flow.get(\"timestampoflastproximity\");\n\n//set the time to be last time away \nvar timestampoflastproximityaway = flow.get(\"timestampoflastproximityaway\") || Date.now();\n\n//Calculate the time elapse when this between lasp trigger time and  and last movve time\nvar elapsedTime  = (timestampoflastproximityaway - timestampoflastproximity);\n\n\n//update the msg to carry time elapsed\nmsg.time = elapsedTime;\n\n\n//Display value in the editor\n\nnode.status({fill:\"green\",shape:\"dot\",text:elapsedTime});\n\n//update the variable for the next lap\n\nflow.set(\"timestampoflastproximity\", timestampoflastproximity);\n\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":2920,"y":2260,"wires":[["b5f53693.ca3ca","802fdef2.243828"]]},{"id":"b5f53693.ca3ca","type":"function","z":"36d081ad.48ef36","name":"Convert from milli sec to sec","func":"\n\n//msg.time is inmilliseconds\n\nvar t = msg.time / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n\n//Format into hh:mm:ss\nmsg.timeText = s;\n\n\n//update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:s});\n\n\n//Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":3220,"y":2260,"wires":[["cc7517b6.0db1"]]},{"id":"cc7517b6.0db1","type":"function","z":"36d081ad.48ef36","name":"Ubidot Json Converter - Proximity duration","func":"\n\n\nmsg.payload= {\"proximityduration\" : msg.timeText}\nreturn msg;\n","outputs":1,"noerr":0,"x":3640,"y":2260,"wires":[["a8dcea34.4431c8","27a916f8.230c4a"]]},{"id":"45e9b73e.50adc8","type":"function","z":"36d081ad.48ef36","name":"Calculating Proximity Time","func":"\n//Get the time of which this message was recieved\nvar currentTime = Date.now();\n\n\n//Retrieve the Timestamp at which this lap started.\nvar timestampoflastproximity = flow.get(\"timestampoflastproximity\") || Date.now();\n\n//Calculate the time elapse when this lap ended\n\nvar elapsedTime  = (currentTime - timestampoflastproximity);\n\n\n//update the msg to carry time elapsed\nmsg.time = elapsedTime;\n\n\n//Display value in the editor\n\nnode.status({fill:\"green\",shape:\"dot\",text:elapsedTime});\n\n//update the variable for the next lap\n\nflow.set(\"timestampoflastproximity\", currentTime);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2860,"y":2040,"wires":[["9bffa743.370aa8"]]},{"id":"27a916f8.230c4a","type":"debug","z":"36d081ad.48ef36","name":"Primity Duration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3890,"y":2440,"wires":[]},{"id":"802fdef2.243828","type":"trigger","z":"36d081ad.48ef36","op1":"{\"proximityaway\":1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"iOT Proximity away","x":3190,"y":2360,"wires":[["a8dcea34.4431c8"]]},{"id":"dfea033c.f0921","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3660,"y":2660,"wires":[]},{"id":"e943f150.a7c98","type":"function","z":"36d081ad.48ef36","name":"if someone walks away in less than 2 sec play default","func":"\nvar timeaway = msg.timeText;\n\n\nif  (timeaway <= 2)\n{\nreturn msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":3580,"y":2540,"wires":[["a1489d05.5d843","dfea033c.f0921"]]},{"id":"9bffa743.370aa8","type":"function","z":"36d081ad.48ef36","name":"Convert from milli sec to sec","func":"\n\n//msg.time is inmilliseconds\n\nvar t = msg.time / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n\n//Format into hh:mm:ss\nmsg.timeText = s;\n\n\n//update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:s});\n\n\n//Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":2040,"wires":[["f6bc56d1.9bfec8"]]},{"id":"4c6de0a9.b17e9","type":"http request","z":"36d081ad.48ef36","name":"Show Content  Dropped off","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerControl/TriggerEvent?messageSubType=Start&eventCode=cvsdefault","tls":"","persist":false,"proxy":"","authType":"","x":2620,"y":2220,"wires":[[]]},{"id":"632c8946.b5823","type":"trigger","z":"36d081ad.48ef36","op1":"1","op2":"","op1type":"num","op2type":"nul","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":" 100ms Pause","x":2300,"y":2220,"wires":[["4c6de0a9.b17e9"]]},{"id":"6b935578.f9067c","type":"http request","z":"36d081ad.48ef36","name":"Show Content  Picked up","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerControl/TriggerEvent?messageSubType=Start&eventCode=cvspickup","tls":"","persist":false,"proxy":"","authType":"","x":2370,"y":660,"wires":[[]]},{"id":"a810c64f.51622","type":"ui_chart","z":"36d081ad.48ef36","name":"","group":"b996bd6.835594","order":1,"width":0,"height":0,"label":"iPad Pick Up Duration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3930,"y":680,"wires":[[]]},{"id":"ee80cc61.7574f8","type":"comment","z":"36d081ad.48ef36","name":"CVS Pick up  Logic","info":"","x":1870,"y":320,"wires":[]},{"id":"5f29d71c.c139f8","type":"trigger","z":"36d081ad.48ef36","op1":"{\"cvspickup\": 1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"iOT iPad pick up","x":3290,"y":660,"wires":[["e1a0ad73.02f498"]]},{"id":"c088fab0.2b2df8","type":"switch","z":"36d081ad.48ef36","name":"Pick up or Drop Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":740,"wires":[["3801121f.a926ce"],["b37d84c3.cb94f8"]]},{"id":"512488a8.017a","type":"http request","z":"36d081ad.48ef36","name":"Show Content  default","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerControl/TriggerEvent?messageSubType=Start&eventCode=cvsdefault","tls":"","persist":false,"proxy":"","authType":"","x":2400,"y":796,"wires":[[]]},{"id":"194c8b2e.8bf5ed","type":"function","z":"36d081ad.48ef36","name":"CVS Dropoff counter","func":"var numberofdropoff = flow.get(\"numberofdropoff\") ||0;\nnumberofdropoff++;\n\nnode.status({fill:\"green\",shape:\"dot\",text:numberofdropoff});\nflow.set(\"numberofdropoff\", numberofdropoff);\nmsg.payload=numberofdropoff;\nreturn msg;","outputs":1,"noerr":0,"x":2570,"y":1040,"wires":[["c0f2d08.26e00b"]]},{"id":"368c616a.6c4a9e","type":"trigger","z":"36d081ad.48ef36","op1":"{\"cvsdropoff\":1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"iOT iPad Drop Down","x":3270,"y":956,"wires":[["e1a0ad73.02f498"]]},{"id":"f900e167.9e892","type":"inject","z":"36d081ad.48ef36","name":"iPad Picked Up.","topic":"","payload":"55","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"10","x":220,"y":640,"wires":[["5643d08b.f47e7"]]},{"id":"f5c76d17.1bdd1","type":"inject","z":"36d081ad.48ef36","name":"iPad dropped off","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"10","x":220,"y":840,"wires":[["5643d08b.f47e7"]]},{"id":"3801121f.a926ce","type":"trigger","z":"36d081ad.48ef36","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":" 100ms s Pause","x":2120,"y":661,"wires":[["6b935578.f9067c"]]},{"id":"b37d84c3.cb94f8","type":"trigger","z":"36d081ad.48ef36","op1":"1","op2":"","op1type":"num","op2type":"nul","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":" 100ms Pause","x":2120,"y":796,"wires":[["512488a8.017a"]]},{"id":"8a2c1641.7438f8","type":"function","z":"36d081ad.48ef36","name":"Increment iPhone Pickup","func":"\nvar numberofpickup = flow.get(\"numberofpickup\") ||0;\n\nnumberofpickup++;\n\nnode.status({fill:\"green\", shape:\"dot\", text:numberofpickup})\n\nflow.set(\"numberofpickup\", numberofpickup);\n\nmsg.numberofpickup = numberofpickup;\n\nreturn msg;","outputs":1,"noerr":0,"x":2540,"y":460,"wires":[["88c6a134.609698","ad4cfaf6.307d1"]]},{"id":"7948964d.14c078","type":"function","z":"36d081ad.48ef36","name":"Convert from milli sec to sec","func":"\n\n//msg.time is inmilliseconds\n\nvar t = msg.time / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n\n//Format into hh:mm:ss\nmsg.timeText = s;\n\n\n//update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:s});\n\n\n//Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":3270,"y":820,"wires":[["123a4ab2.24f51d","b37a5247.1fa9d8"]]},{"id":"c0f2d08.26e00b","type":"function","z":"36d081ad.48ef36","name":"Calculating Drop time","func":"\n\n\n//Retrieve the Timestamp at which the iPad has been picked up\nvar timestampoflastpickup = flow.get(\"timestampoflastpickup\");\n\n//Calculate the time elapse when this lap ended\nvar timestampoflastdropoff = flow.get(\"timestampoflastdropoff\") || Date.now();\n\n//Retrieve the Timestamp at which the iPad has been dropped\nvar elapsedTime  = (timestampoflastdropoff - timestampoflastpickup);\n\n\n//update the msg to carry time elapsed\nmsg.time = elapsedTime;\n\n\n//Display value in the editor\n\nnode.status({fill:\"green\",shape:\"dot\",text:elapsedTime});\n\n//update the variable for the next lap\n\nflow.set(\"timestampoflastpickup\", timestampoflastpickup);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2850,"y":820,"wires":[["7948964d.14c078","368c616a.6c4a9e"]]},{"id":"88c6a134.609698","type":"function","z":"36d081ad.48ef36","name":"Calculating Pickup Time","func":"\n//Get the time of which this message was recieved\nvar currentTime = Date.now();\n\n\n//Retrieve the Timestamp at which this lap started.\nvar timestampoflastpickup = flow.get(\"timestampoflastpickup\") || Date.now();\n\n//Calculate the time elapse when this lap ended\n\nvar elapsedTime  = (currentTime - timestampoflastpickup);\n\n\n//update the msg to carry time elapsed\nmsg.time = elapsedTime;\n\n\n//Display value in the editor\n\n\n\n//update the variable for the next lap\n\nflow.set(\"timestampoflastpickup\", currentTime);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2860,"y":660,"wires":[["5f29d71c.c139f8"]]},{"id":"123a4ab2.24f51d","type":"function","z":"36d081ad.48ef36","name":"Ubidot Json Converter - Pick up duration","func":"\n\n\nmsg.payload= { \"cvspickupduration\" : msg.timeText}\nreturn msg;\n","outputs":1,"noerr":0,"x":3720,"y":820,"wires":[["e1a0ad73.02f498"]]},{"id":"e4b77453.43a378","type":"ui_chart","z":"36d081ad.48ef36","name":"","group":"b996bd6.835594","order":2,"width":0,"height":0,"label":"iPad Pick Up Count","chartType":"horizontalBar","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8040","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3070,"y":436,"wires":[[]]},{"id":"ad4cfaf6.307d1","type":"function","z":"36d081ad.48ef36","name":"Number of pick up chart","func":"\nvar numberofpickup = flow.get(\"numberofpickup\") ||0;\n\n\nmsg.payload=numberofpickup;\nreturn msg;","outputs":1,"noerr":0,"x":2860,"y":480,"wires":[["e4b77453.43a378","824e48bb.89a738","73dcea7e.a1c004"]]},{"id":"b37a5247.1fa9d8","type":"function","z":"36d081ad.48ef36","name":"Usage Duration Chart","func":"\n\n\nmsg.payload= msg.timeText;\nreturn msg;\n","outputs":1,"noerr":0,"x":3640,"y":680,"wires":[["a810c64f.51622"]]},{"id":"824e48bb.89a738","type":"function","z":"36d081ad.48ef36","name":"Ubidot Json total pickup","func":"\n\n\nmsg.payload= {\"cvstotalpickup\" : msg.payload}\nreturn msg;\n","outputs":1,"noerr":0,"x":3650,"y":476,"wires":[["e1a0ad73.02f498"]]},{"id":"73dcea7e.a1c004","type":"ui_chart","z":"36d081ad.48ef36","name":"","group":"b996bd6.835594","order":1,"width":0,"height":0,"label":"Total number of iPAD Pick ups Vs Total number of Proximity","chartType":"pie","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8040","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3770,"y":1036,"wires":[[]]},{"id":"8f2e73b6.923948","type":"function","z":"36d081ad.48ef36","name":"If curent playlist is demo or pickup","func":"\n\nvar currentplaylist = msg.payload\n\n\n\nif(currentplaylist == \"Remarkdemo\"){\n    \n    play = false;\n   \n     msg.payload=play;\n     \n     return null;\n}\n\n   else{ \n\n     var play = 0;\n     msg.payload=play;\n      \nreturn msg; \n    }\n\n","outputs":1,"noerr":0,"x":1660,"y":636,"wires":[["c088fab0.2b2df8"]]},{"id":"5c7520e5.20fb4","type":"function","z":"36d081ad.48ef36","name":"Get Current Playlist JSON Converter","func":"var data = msg.payload;\n\n\nconvert=JSON.parse(data)\n\nplaylist = convert.GetCurrentPlaylistResult.TriggerParam;\n\nmsg.payload = playlist;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1280,"y":636,"wires":[["8f2e73b6.923948","22130ecf.ae3142"]]},{"id":"a99118ee.b63398","type":"function","z":"36d081ad.48ef36","name":"If curent playlist is demo or default","func":"\n\nvar currentplaylist = msg.payload\n\n\n\nif(currentplaylist == \"cvsdropoff\" || currentplaylist == \"cvsdefault\"){\n    \n    play = false;\n   \n     msg.payload=play;\n     return null;\n}\n\n   else{ \n\n     var play = 1;\n     msg.payload=play;\n       \n       return msg;\n    }\n\n\n","outputs":1,"noerr":0,"x":1700,"y":836,"wires":[["c088fab0.2b2df8"]]},{"id":"a6fbfcf5.a40c68","type":"function","z":"36d081ad.48ef36","name":"Get Current Playlist JSON Converter","func":"var data = msg.payload;\n\n\nconvert=JSON.parse(data)\n\nplaylist = convert.GetCurrentPlaylistResult.TriggerParam;\n\nmsg.payload = playlist;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1310,"y":836,"wires":[["a99118ee.b63398","22130ecf.ae3142"]]},{"id":"5643d08b.f47e7","type":"switch","z":"36d081ad.48ef36","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":744,"wires":[["98407659.5e1918"],["8d7b6aba.12ab3"]]},{"id":"22130ecf.ae3142","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":996,"wires":[]},{"id":"136cf7d2.7eb6","type":"function","z":"36d081ad.48ef36","name":"CVS Pickup Last state global variable","func":"flow.set(\"CVSpickuplaststate\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":520,"wires":[[]]},{"id":"98407659.5e1918","type":"function","z":"36d081ad.48ef36","name":"gate keeper","func":"\nvar CVSpickuplaststate = flow.get(\"CVSpickuplaststate\") ||0;\n\n\nvar currentstate = CVSpickuplaststate;\n\nnode.status({fill:\"green\",shape:\"dot\",text:currentstate});\n\nif (currentstate === 0)\n\n{\n    \n   \n    return msg;\n    \n}\n\nelse\n{\nreturn null;\n}","outputs":1,"noerr":0,"x":600,"y":720,"wires":[["ac41e544.92fa","d5b95c68.1ad4e","62426572.770eec"]]},{"id":"ac41e544.92fa","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":580,"wires":[]},{"id":"62426572.770eec","type":"function","z":"36d081ad.48ef36","name":"set last state to 1 after an event","func":"flow.set(\"CVSpickuplaststate\",1);\n\nvar CVSpickuplaststate= CVSpickuplaststate;\n\nnode.status({fill:\"green\",shape:\"dot\",text:CVSpickuplaststate});\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":620,"wires":[["8a2c1641.7438f8"]]},{"id":"d5b95c68.1ad4e","type":"http request","z":"36d081ad.48ef36","name":"Get Current Playlist","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerDetails/GetCurrentPlaylist","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":720,"wires":[["5c7520e5.20fb4"]]},{"id":"8d7b6aba.12ab3","type":"function","z":"36d081ad.48ef36","name":"gate keeper","func":"\nvar CVSpickuplaststate = flow.get(\"CVSpickuplaststate\")|| 0;\nvar currentstate = CVSpickuplaststate;\n\nnode.status({fill:\"green\",shape:\"dot\",text:currentstate});\n\nif (currentstate === 1)\n\n{\n    \n   \n    return msg;\n    \n}\n\nelse\n{\nreturn null;\n}","outputs":1,"noerr":0,"x":600,"y":780,"wires":[["dda2c56c.7fd9e8","96bafb15.9348a","ad80a1eb.3e7e68"]]},{"id":"dda2c56c.7fd9e8","type":"http request","z":"36d081ad.48ef36","name":"Get Current Playlist","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.209:8080/REST/PlayerDetails/GetCurrentPlaylist","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":780,"wires":[["a6fbfcf5.a40c68"]]},{"id":"ad80a1eb.3e7e68","type":"function","z":"36d081ad.48ef36","name":"set last state to 0 after an event","func":"flow.set(\"CVSpickuplaststate\",0);\nvar CVSpickuplaststate = CVSpickuplaststate;\nnode.status({fill:\"green\",shape:\"dot\",text:CVSpickuplaststate});\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":840,"wires":[["194c8b2e.8bf5ed"]]},{"id":"96bafb15.9348a","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":940,"wires":[]},{"id":"df5398c3.5ea2f8","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":2400,"wires":[]},{"id":"f5edc2ec.49687","type":"function","z":"36d081ad.48ef36","name":"Sensor Counter","func":"var currenttime= Date.now();\n\n\nvar sensorcounter = flow.get(\"sensorcounter\") || 0;\nvar timecounter \n\nsensorcounter ++;\n\nflow.set(\"sensorcounter\",sensorcounter);\nnode.status({fill:\"green\",shape:\"dot\",text:sensorcounter});\n\nif (sensorcounter == 1)\n\n{\n    var sensorendtime = flow.get(\"sensorendtime\")|| Date.now() ;\nflow.set(\"sensorendtime\", currenttime);\n\n\n}\n\n\nif (sensorcounter == 120)\n\n{\n  var sensorendtime = flow.get(\"sensorendtime\")|| Date.now() ;\n  timecounter = currenttime - sensorendtime;\n    msg.time = timecounter;\n   msg.payload = timecounter;\n    \n   flow.set(\"sensorcounter\",0);\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":330,"y":2300,"wires":[["5291d9f8.6237f"]]},{"id":"bdb5864c.763fd","type":"function","z":"36d081ad.48ef36","name":"Sensorcounter global variable","func":"flow.set(\"sensorendtime\",0);\nflow.set(\"sensorcounter\",0);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2260,"wires":[[]]},{"id":"5291d9f8.6237f","type":"function","z":"36d081ad.48ef36","name":"Convert from milli sec to sec","func":"\n\n//msg.time is inmilliseconds\n\nvar t = msg.time / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n\n//Format into hh:mm:ss\nmsg.timeText = s;\n\n\n//update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:s});\n\n\n//Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":2300,"wires":[[]]},{"id":"ab3219eb.a48ae","type":"debug","z":"36d081ad.48ef36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":980,"wires":[]},{"id":"5698bd23.1c6b9c","type":"debug","z":"36d081ad.48ef36","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":160,"y":2380,"wires":[]},{"id":"a8dcea34.4431c8","type":"ubidots_out","z":"36d081ad.48ef36","name":"","token":"BBFF-yNDR3XW0DGSGhziXw9qYK5xr84FAF6","label_device":"","device_label":"cvsrasp","tier":"business","tls_checkbox":true,"x":4080,"y":2260,"wires":[]},{"id":"e1a0ad73.02f498","type":"ubidots_out","z":"36d081ad.48ef36","name":"","token":"BBFF-yNDR3XW0DGSGhziXw9qYK5xr84FAF6","label_device":"","device_label":"cvsrasp","tier":"business","tls_checkbox":true,"x":4090,"y":820,"wires":[]},{"id":"e0600085.d89588","type":"function","z":"36d081ad.48ef36","name":"IFTT Value definition","func":"time = msg.timeText;\n\nif (time > 10)\n{\nmsg.payload = { \"value1\" : time };\n\nreturn msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":3330,"y":2140,"wires":[["d35c6ecb.c9769"]]},{"id":"481acc37.d2c1d4","type":"function","z":"36d081ad.48ef36","name":"time counter 10sec trigger","func":"for (var i=0; i<15;){\n\n    i++;\n\nnode.send ({payload :i});\n\nmsg.payload = i;\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":1720,"wires":[["f98b1df6.f9b338"]]},{"id":"a5555f55.961ba","type":"debug","z":"36d081ad.48ef36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2190,"y":1640,"wires":[]},{"id":"f98b1df6.f9b338","type":"delay","z":"36d081ad.48ef36","name":"1 second counter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1650,"y":1720,"wires":[["9a9992d1.a17ed8","951c85ea.f3c4d8"]]},{"id":"9a9992d1.a17ed8","type":"function","z":"36d081ad.48ef36","name":"IFTT Value definition","func":"\nvar time =null;\nvar proximitylaststate = flow.get(\"proximitylaststate\")|| 0;\n    \nif (proximitylaststate === 0)\n{\n    \n   time = 0;\n\n}\nelse{\n    time = msg.payload;\n    \n}\n    if (time == 10 )\n{\n msg.payload = { \"value1\" : time };\n    return msg;\n}\n\nelse{\nreturn null;\n    \n}","outputs":1,"noerr":0,"x":1970,"y":1740,"wires":[["a5555f55.961ba","afb49ba1.b615f","76d97cb1.6360e4"]]},{"id":"951c85ea.f3c4d8","type":"debug","z":"36d081ad.48ef36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1910,"y":1820,"wires":[]},{"id":"448f36f9.148d8","type":"rpi-srf","z":"36d081ad.48ef36","d":true,"name":"Proximity","topic":"SRF","pulse":"0.005","pins":"11,13","x":80,"y":2140,"wires":[["df5398c3.5ea2f8","f5edc2ec.49687"]]},{"id":"a86054ab.509f98","type":"rpi-srf","z":"36d081ad.48ef36","d":true,"name":"iPad","topic":"SRF","pulse":".0005","pins":"3,5","x":50,"y":740,"wires":[[]]},{"id":"e3c6aae9.e86168","type":"smooth","z":"36d081ad.48ef36","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":true,"x":250,"y":740,"wires":[["5643d08b.f47e7","ab3219eb.a48ae"]]},{"id":"63c32883.7378b","type":"smooth","z":"36d081ad.48ef36","name":"","property":"payload","action":"mean","count":"30","round":"0","mult":"single","reduce":true,"x":280,"y":2140,"wires":[["8603eb7d.17eb88","5698bd23.1c6b9c"]]},{"id":"d35c6ecb.c9769","type":"ifttt out","z":"36d081ad.48ef36","eventName":"proximityalert","key":"8c2222dd.2c559","x":3560,"y":2120,"wires":[]},{"id":"afb49ba1.b615f","type":"ifttt out","z":"36d081ad.48ef36","eventName":"proximityalert","key":"48f33cd4.d3851c","x":2250,"y":1740,"wires":[]},{"id":"76d97cb1.6360e4","type":"ifttt out","z":"36d081ad.48ef36","eventName":"proximitycall","key":"48f33cd4.d3851c","x":2250,"y":1840,"wires":[]}]